---
layout: layout
---

<section class="bg-black text-white w-100">
  <div class="row mx-0">
    <div class="col text-center pt-5"> 
     <!-- <img src="{{ '/assets/images/logo_weiss.png' | relative_url}}" width="150"> -->
    </div>
  </div>

  <div class="row mx-0 my-6">
  
  </div>


  <h1 class="text-center display-4 fw-semibold">Portfolio</h1>

  <div class="row mx-0 my-4">
    <div class="col-12 mx-auto text-center">
      <p class="fs-4">2025</p>
    </div>
  </div>

  <!-- Negative bottom margin to hide potential 1 pixel horizontal black line -->
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320" style="margin-bottom: -2px;">
    <path fill="#ffffff" fill-opacity="1"
      d="M0,160L48,176C96,192,192,224,288,208C384,192,480,128,576,133.3C672,139,768,213,864,202.7C960,192,1056,96,1152,74.7C1248,53,1344,107,1392,133.3L1440,160L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z">
    </path>
  </svg>
</section>


<div class="row mx-0 my-5">
  <div class="col-12 mx-auto text-center">
    <p class="fs-5">Produktdesign I Verpackungsdesign I Ausstellungsdesign I<br> 3D-Druck I Fotografie I Grafikdesign </p>
  </div>
</div>

<div class="container">
  <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 g-4 px-4 col-lg-10 mx-auto mb-4">
    {% assign projects = site.pages | where_exp:"page", "page contains 'project_title'" %}
    {% for project in projects %}
      <div class="col">
        <div class="card h-100 pb-2">
          <div class="card-header p-0 position-relative ratio ratio-1x1 overflow-hidden">
            <img src="{{ project.project_thumbnail | relative_url }}" class="w-100 h-100 object-fit-cover">
          </div>
          <div class="card-body">
            <h5 class="card-title">{{ project.project_title }}</h5>
            <h6 class="card-subtitle fw-light mb-2">{{ project.project_subtitle }}</h6>
            <p class="card-text">{{ project.project_description }} </p>
          </div>
          <div class="card-footer bg-transparent border-top-0">
            <a href="{{ project.url | relative_url }}" class="btn btn-primary card-link">Mehr erfahren</a>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
<!-- <div class="row mt-5">
  {% for project in projects %}
    <div class="col-12 col-md-6 py-3 image-with-overlay">
      <a href="{{ project.url | relative_url }}" class="link-dark link-underline-opacity-0">
        <img src="{{ project.project_thumbnail | relative_url }}" width="100%">
        <div class="image-overlay">
          <p class="fs-3 fw-medium">{{ project.project_title }}</p>
          <p class="fw-light">{{ project.project_subtitle }}</p>
        </div>
      </a>
    </div>
  {% endfor %}
</div> -->